<template name="footer">

    <footer>

        <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse navbar-right">
            <ul class="nav navbar-nav navbar-inverse">
                <li><a href="{{pathFor 'about' }}">About</a></li>
                <li><a href="{{pathFor 'faq' }}">FAQ</a></li>
                <li><a href="{{pathFor 'impressum' }}">Impressum</a></li>
                <li><a href="{{pathFor 'agb' }}">AGB</a></li>

            </ul>
        </nav>

    </footer>

</template>