<template name="navbar">

    <nav class="navbar navbar-default" id="mainmenu">

        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="/images/scrumify-Logo.png">
                </a>
            </div>
            
            <ul class="nav navbar-nav navbar-default navbar-right">

                {{#if currentUser}}

                    <li>{{>atNavButton}}</li>

                {{/if}}

            </ul>


        </div>

    </nav>

</template>