<template name="createBacklog">

    <article class="main">
        <section class="box">
            <header>
                <h1>
                    Erstelle dein Backlog
                </h1>
                <h3>
                    Trage hier die Funktionalit&auml;ten ein die in eurem Projekt umgesetzt werden sollen
                </h3>
            </header>

            <div class="new-item-form">

                <form class="newBacklogItem">
                    <fieldset>

                        <label>Was habt ihr vor?</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Funktion</span>
                            <input  type="text" placeholder="Username" class="form-control" name="text" aria-describedby="basic-addon1">
                        </div>

                        <label>Wie sch&auml;tzt ihr den Aufwand?</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">Aufwand</span>
                            <input type="number" name="points" class="form-control"  aria-describedby="basic-addon2">
                        </div>

                        <label>Sind alle Vorgaben erf&uuml;t?</label>
                        <div class="input-group">
                            <input type="checkbox" name="isReady">
                        </div>
                        <div class="input-group">
                            <input type="submit" class="form-control" placeholder="Username" aria-describedby="basic-addon4">
                        </div>

                    </fieldset>
                </form>

            </div>

        </section>

     {{> backlog}}

    </article>
</template>

