<template name="createproject">

    <div class="main">

        <section class="box">
            <header>
                <h2>
                    Erstelle dein Project
                </h2>
            </header>

        </section>

        <section>
            <article class="box">

                <div class="new-item-form">

                    <form class="newProject">
                        <fieldset>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Name</span>
                                <input type="text" name="projectName" class="form-control" placeholder="Projectname" aria-describedby="basic-addon1">
                            </div>

                        </fieldset>
                    </form>

                </div>


            </article>
        </section>

    </div>

</template>