<template name="dashboard">

    <header>

        <h1>Willkommen zum Sprint Planning</h1>

        <h3>
            Um mit dem Scrum Planning loszulegen ben"otigt ihr eine Product Backlog mit euren User Stories.
            Ihr könnt dieses schnell selbst anlegen, importieren oder ein TestBacklog benutzen.
        </h3>

    </header>

    <div class="container">


        <a class="btn btn-default" href="{{pathFor 'importBacklog' }}">Backlog Importieren</a>
        <a class="btn btn-default" href="{{pathFor 'createBacklog' }}">Backog erstellen</a>
        <a class="btn btn-default" href="{{pathFor 'test' }}">Testen</a>


    </div>

</template>