<template name="dashboard">

    {{> newUser}}

    <div class="main">

        <section class="box">
            <h1>
                Willkommen
            </h1>
        </section>

        <section class="box">

            <header>
                <h2>
                    Projekte

                    <a href="{{pathFor 'newProject'}}" class="btn btn-default">Projekt hinzuf&uuml;gen</a>

                </h2>

            </header>

            <article>

                <div class="list-group">

                    {{#if projectsCount}}
                    {{#each projects}}
                        {{>project}}
                        {{/each}}
                    {{else}}
                        <p>
                            Du nimmst leider an noch keinen Projekten Teil. Bitte erstelle ein neues oder tritt einem bei.
                        </p>
                    {{/if}}
                </div>

            </article>


        </section>

    </div>

</template>


<template name="project">

    <button type="button" class="list-group-item">{{name}}</button>

</template>