<template name="newProject">
    <div class="main">

        <section class="box">
            <header>

                <h1>Willkommen zum Sprint Planning</h1>

                <h3>
                    Um loszulegen erstelle zuerst ein Projekt
                </h3>

            </header>
        </section>

        <section>

            <article class="chooseOne">

                <section class="box">

                    <header>
                       <h3>
                           Hier kannst du ein neues Projekt erstellen
                       </h3>
                    </header>

                    <footer>
                        <a class="btn btn-default choosebtn" href="{{pathFor 'createproject' }}">Project erstellen</a>

                    </footer>


                </section>

            </article>


            <article class=" chooseOne">

                <section class="box">

                    <h3>
                        Hier kannst du einem Projekt beitreten
                    </h3>

                    <footer>
                        <a class="btn btn-default choosebtn" href="{{pathFor 'selectproject' }}">Project suchen</a>

                    </footer>

                </section>

            </article>
        </section>


    </div>

</template>