<template name="selectproject">

    <div class="main">

        <section class="box">

            <form class="searchproject">

                <input type="text" name="projectname" placeholder="Projektname">

            </form>
        </section>

        <section class="box">
            <div class="list-group">

                {{#each chooseprojects}}

                    {{> chooseproject}}

                {{/each}}

            </div>
        </section>

    </div>

</template>

<template name="chooseproject">

    <button type="button" class="selectProject list-group-item">{{_id}}</button>

</template>