@import "variables";

.main-container{
  background-color: $whiteColor;

  max-width: 75%;
  margin: 0 auto;

  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */

}