@import "variables";

html{
  height: 100%;
  width: 100%;
}

body{

  min-height: 100%;
  background-color: $blueColor;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
header{

  padding: 0 1em;
}

.main{
  height: 100%;
  margin: 0 auto;
  max-width: 800px;

}

footer{
  margin-top: 1em;
}

.box{
  box-sizing: border-box;
  padding: 1em ;
  margin: 0.5em;
  border-radius: 5px;
  background-color: #5D9E9B;
}
